@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Boğaziçi University </h1>
    <img src="~/images/boun.JPG" style="width:80%;height:400px;" asp-append-version="true">

</div>
